.myLi {
  paddin: 20px;
  border: 10px solid red;
  margin: 20px;
  list-style: none;
}
 .jumbotron {
   margin: 20px auto;
 }

.ownWell {
  margin: 10px auto;
  padding: 25px;
  background-color: #576b7e;
}
body {
    background-image: url('http://css-tricks.com/examples/FullPageBackgroundImage/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
